# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/

# Env files
.env
bot/.env

# Secrets
credentials.json
service_account.json
scriptforvk-0f70c8d47c45.json

# OS
.DS_Store
Thumbs.db
