<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lifeos.sync">

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <package android:name="com.android.healthconnect" />
        <intent>
            <action android:name="androidx.health.ACTION_HEALTH_CONNECT_SETTINGS" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_WEIGHT" />
    <uses-permission android:name="android.permission.health.READ_NUTRITION" />
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.LifeOsSync">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PermissionsRationaleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:permission="com.google.android.apps.healthdata.permission.START_ONBOARDING">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_ONBOARDING" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="UAndAboveOnboardingActivity"
            android:exported="true"
            android:targetActivity=".OnboardingActivity"
            android:permission="android.permission.health.START_ONBOARDING">
            <intent-filter>
                <action android:name="android.health.connect.action.SHOW_ONBOARDING" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".SyncBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
